<mat-drawer-container>
  <div class="homesidenav-content">
    <mat-toolbar>Dashboard</mat-toolbar>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <mat-card>
          <div class="row">
            <div class="col-md-4 homeicon">
                <mat-icon>home</mat-icon>
            </div>

            <div class="col-md-8 text-right payment">
              <p>Income</p>
              <h4>$1500</h4>              
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-6 text-left dates">
              <li>03 jul `18</li>
              <li>03 jul `18</li>
              <li>03 jul `18</li>
              <li>03 jul `18</li>
            </div>
            <div class="col-md-6 text-right dates-and-due">
              <li>4000</li>
              <li>4000</li>
              <li>4000</li>
              <li>4000</li>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>
          <div class="row">
            <div class="col-md-8 text-left payment1">
              <h6><b>Upcoming Milk Products</b></h6>
              <h6>
                05 jul `18
              </h6>
            </div>

            <div class="row">
              <div class="col-md-4 print-icon">
                <mat-icon>print</mat-icon>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4 text-left coming-products">
                <li>Hatsun Full Cream Milk</li>
                <li>Hatsun Toned Milk</li>
                <li>Hatsun Curd</li>
                <li>Hatsun Butter Milk</li>
                <li>Hatsun Ghee</li>
              </div>

              <div class="col-md-4 text-center lit">
                <li>1 liter</li>
                <li>1 liter</li>
                <li>1 liter</li>
                <li>1 liter</li>
                <li>1 liter</li>
              </div>

              <div class="col-md-4 text-left packets">
                <li>150 Packets</li>
                <li>150 Packets</li>
                <li>150 Packets</li>
                <li>150 Packets</li>
                <li>150 Packets</li>
              </div>
              <button type="button" class="btn btn-primary more">More Details</button>
            </div>

          </div>
        </mat-card>
      </div>
    </div>
  </div>
</mat-drawer-container>
<router-outlet></router-outlet>