.log-card {
    max-width: 300px;
    margin: auto;
  }
  
  .card-img-top{
     width: 165px;
  }  

  .image{
     
     height: 100vh;
     background-size:cover;  
  }


  .log-full-width {
    width: 100%;
  }

  .log-container {
    display: flex;
    flex-direction: column;
  }
  
 
  .btn-primary{
    width: 100%;
    height: 36px;
    border-radius: 0px;
    
  }

  a{
      float: right;
      cursor: pointer;
  }
  
  .password{
    font-family: Roboto;
    font-size: 13px;
    color: #9b9b9b;
  }
  