.nav-container {
    max-width:100% ;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    
  }
  

  .button{
    background-color: #008000;
  }

  .material-icons{
    cursor: pointer;
  }
  
  .nav-sidenav-content {
    display: flex;
    height: 100%;
    width:40%;
    align-items: 0px;
    justify-content: 0px;
    
  }
  
  .nav-sidenav {
    padding: 20px;
    background-color: black;
    width: 220px;
  }
  
  .home a{
      
      color: #f1f1f1 ;
      display: block;
    }
    .home a:hover{
      
      color: #f1f1f1 ;
      display: block;
    }
  .home{
    margin-top: 30px;
    padding-left: 15px;
    
    
  }

  .home span{
    padding:10px;
 }

 .view a{
  color: blanchedalmond;
 
 }
.logoimg{
  width: 180px;
}


